DATABASE_URL="postgresql://user:password@localhost:5432/mydatabase?schema=public"
JWT_SECRET="your-jwt-secret"
JWT_REFRESH_SECRET="your-jwt-refresh-secret"
PORT=3000
JWT_PRIVATE_KEY="your-private-key"
JWT_PUBLIC_KEY="your-public-key"
